* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
